* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

.container {
    max-width: 1180px;
    margin: auto;
}

header {
    background-image: url(images/mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 985px;
    padding-top: 16px;
    padding-bottom: 82px;
}

.header__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 41px;
}

.header__main {
    min-height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    width: 137px;
    height: 72px;
    background: url(images/logo.png) center / cover no-repeat;
}

.burger {
    width: 50px;
    height: 50px;
    background: url(images/menu.png) center/cover no-repeat;
    display: none;
    cursor: url(images/pointer_white.png), pointer;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 831px;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.nav__text {
    color: #FDFDFD;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.btn_44 {
    height: 44px;
    width: fit-content;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #1A3E3E;
    border: 1px solid rgba(0, 0, 0, 0);

    color: #FDFDFD;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;
}

.btn_52 {
    height: 52px;
    width: fit-content;
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #1A3E3E;
    border: 1px solid rgba(0, 0, 0, 0);

    color: #FDFDFD;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;
}

.header__text {
    max-width: 1080px;
    min-height: 572px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    color: #FDFDFD;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 75px */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__select {
    max-width: 1180px;
    min-height: 161px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    display: flex;
    padding: 40px 42px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 24px; */
}

.select-column {
    max-width: 270px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn_52_light {
    height: 52px;
    max-width: 213px;
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0);

    color: #1A3E3E;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.btn_52_light__hidden {
    height: 52px;
    max-width: 213px;
    display: none;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0);

    color: #1A3E3E;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.dropdown_list {
    display: flex;
    height: 52px;
    width: 100%;
    padding: 0px 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--wl-primary-primary-300, #E1E3E4);

    color: #FDFDFD;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.192px;
}

.comment {
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding: 0px 8px;
}

.aboutUs {
    min-height: 526px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutUs__video {
    width: 480px;
    height: 526px;
    position: relative;
}

.aboutUs__text {
    max-width: 580px;
}

.video2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3;
}

.play2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.video1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.play1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.offer__text {
    max-width: 580px;
}

.video2:hover {
    z-index: 2;
    transition: 0.3s;
}

.title_yellow {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px; /* 83.333% */
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}

.title_main {
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%; /* 38.4px */
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.description {
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.grey {
    width: 100%;
    background: #F3F5F4;
}

.grey_flex {
    width: 100%;
    background: #F3F5F4;
    display: flex;
}

.offer__advant {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.advant__text {
    margin-left: 16px;
}

.advant__text__title {
    color: #18121E;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.216px;
    margin-bottom: 4px;
}

.advant__text__discription {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.offer__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    max-width: 510px;
}

.offer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    flex-wrap: wrap;
}

.center_align {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.popular_directions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 20px;
}

.direction {
    width: calc((100% - 40px) / 3);
    min-width: 380px;
    height: 500px;
    border-radius: 32px;
    position: relative;
}

.blur {
    width: 100%;
    height: 90px;
    border-radius: 0px 0px 32px 32px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    position: absolute;
    bottom: 0;
    padding: 20px 32px 23px 32px;
    display: flex;
    justify-content: space-between;
}

.blur_hidden {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    padding: 30px 32px 20px 32px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px;
    animation: hidden_text 1s linear 1;
}

@keyframes hidden_text {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.blur__text__full {
    width: 100%;
    min-height: 283px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.blur_up {
    display: flex;
    justify-content: space-between;
}

.dir1 {
    background-image: url(images/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dir2 {
    background-image: url(images/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dir3 {
    background-image: url(images/fon3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rating {
    width: 65px;
    height: 32px;
    padding: 4px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 4px 0px 0px 4px;
    background: rgba(253, 253, 253, 0.40);
    backdrop-filter: blur(2px);

    position: absolute;
    top: 50px;
    right: 0;
}

.num {
    color: #1A3E3E;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}

.blur__text__title {
    color: #FDFDFD;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.blur__text__discription {
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.blur__price {
    width: 86px;
    height: 40px;
    /* padding: 8px 16px; */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);

    color: #FDFDFD;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.blog__posts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    row-gap: 24px;
}

.post {
    min-height: 312px;
    max-width: 580px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    border-radius: 10px;
    background: #FDFDFD;  
    flex-wrap: wrap;  
}

.post__foto {
    width: 230px;
    height: 280px;
    border-radius: 6px;
}

.post1 {
    background-image: url(images/post1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post2 {
    background-image: url(images/post2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post3 {
    background-image: url(images/post3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post4 {
    background-image: url(images/post4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post__text {
    padding: 16px 0;
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
}

.post__text__title {
    color: #18121E;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.post__text__discription {
    height: 116px;
    overflow: hidden;
    color: #18121E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.date_read {
    display: flex;
    justify-content: space-between;
}

.date {
    color: #F2BE22;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.read {
    color: #1A3E3E;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.foto_report {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.report1 {
    background: url(images/report1.png) center / cover no-repeat;
    width: 580px;
    height: 250px;
    flex-shrink: 0;
}

.report2 {
    width: 280px;
    height: 250px;
    background: url(images/report2.png) center / cover no-repeat;
    flex-shrink: 0;
}

.report3 {
    width: 280px;
    height: 250px;
    background: url(images/report3.png) center / cover no-repeat;
    flex-shrink: 0;
}

.report4 {
    width: 280px;
    height: 250px;
    background: url(images/report4.png) center / cover no-repeat;
    flex-shrink: 0;
}

.report5 {
    background: url(images/report5.png) center / cover no-repeat;
    width: 580px;
    height: 250px;
    flex-shrink: 0;
}

.report6 {
    width: 280px;
    height: 250px;
    background: url(images/report6.png) center / cover no-repeat;
    flex-shrink: 0;
}

footer {
    width: 100%;
    background: #1A3E3E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 587px;
    margin-top: 118px;
    padding-bottom: 146px;

    position: relative;
}

.dark {
    width: 100%;
    background: #18121E;
    height: 66px;

    position: absolute;
    bottom: 0;
    left: 0;
}

.subscribe {
    max-width: 1180px;
    min-height: 196px;
    border-radius: 6px;
    background: #FDFDFD;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);

    position: relative;
    top: -98px;

    padding: 40px 100px;

    display: flex;
    justify-content: flex-start;
    gap: 64px;
    flex-wrap: wrap;
}

.subscribe_hidden {
    display: none;
}

.subscribe__text {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subscribe__text__yellow {
    color: #F2BE22;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin-bottom: 8px;
}

.subscribe__text__main {
    color: #18121E;
    font-size: 26px;
    font-weight: 800;
    line-height: 120%; /* 31.2px */
}

.subscribe__form {
    max-width: 536px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 8px;
}

.subscribe__form__input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 16px;
}

.subscribe__form__personal_date {
    color: #18121E;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
}

.input__email {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 8px;
}

.input__comment {
    color: #18121E;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.input {
    width: 280px;
    height: 44px;
    padding: 0px 16px;
    border-radius: 4px;
    background: #F3F5F4;    
}

.subscribe__button {
    display: flex;
    align-items: end;
}

.dark__text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
}

.underline {
    text-decoration-line: underline;
}

.footer__content {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.company {
    max-width: 456px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.services {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}

.impotant {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}

.footer__content__title1 {
    color: #F3F5F4;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin-bottom: 17px;
}

.footer__content__text1 {
    color: var(--white-color-100, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-bottom: 30px;
    min-height: 110px;
    padding-right: 10px;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    column-gap: 24px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.contacts a {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    text-decoration-line: underline;
}

.icons {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
}

.footer__content__title23 {
    color: #F3F5F4;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin-bottom: 20px;
}

.footer__content__text23 {
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 16px;
}

.list {
    min-height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 8px;
    padding-left: 2px;
}

.list__img {
    width: 10px;
    height: 14px;
    background-image: url(images/list.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.new {
    width: 44px;
    height: 20px;
    background-image: url(images/new.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_44:hover, .btn_52:hover {
    /* border: 1px solid #F2BE22;
    box-shadow: 4px 4px 5px 0px rgba(242, 190, 34, 0.50); */
    color: #F2BE22;
    cursor: url(images/pointer_white.png), pointer;
    transition: 0.3s;
}

.btn_44:active, .btn_52:active {
    box-shadow: none;
}

.btn_52_light:hover {
    border: 1px solid #18121E;
    background: #FFF;
    /* box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.50); */
    color: #18121E;
    cursor: url(images/pointer_dark.png), pointer;
    transition: 0.3s;
}

.btn_52_light:active {
    box-shadow: none;
}

.nav__text:hover, .list:hover {
    color: #F2BE22;
    text-decoration-line: underline;
    cursor: url(images/pointer_white.png), pointer;
}

.list:hover .list__img {
    background-image: url(images/list_yellow.png);
}

.yellow:hover {
    color: #F2BE22;
    cursor: url(images/pointer_dark.png), pointer;
}

.post:hover {
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
}

.post__text__title:hover, .read:hover {
    color: #1A3E3E;
    text-decoration-line: underline;
    cursor: url(images/pointer_dark.png), pointer;
}

.direction:hover .blur, .direction:hover .rating {
    display: none;
}

.direction:hover .blur_hidden {
    display: flex;
}

.play1:hover, .play2:hover {
    cursor: url(images/pointer_white.png), pointer;
}



@media screen and (max-width: 1205px) {

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .direction {
        width: calc((100% - 20px) / 2);
    }

    .dir3 {
        margin: 0 auto;
    }

    .post {
        width: 100%;
        max-width: 100%;
    }

    .post__text {
        width: calc(100% - 254px);
    }

    .post__text__discription {
        text-overflow: clip;
        white-space: normal;
    }

    .report1 {
        background: url(images/report1_small.png) center / cover no-repeat;
        width: 280px;
        height: 250px;
    }

    .report5 {
        background: url(images/report5_small.png) center / cover no-repeat;
        width: 280px;
        height: 250px;
    }

    .subscribe__text {
        max-width: 100%;
    }

    .subscribe {
        gap: 32px;
    }
}

@media screen and (max-width: 1150px) {

    .aboutUs__text {
        order: -1;
        max-width: 100%;
    }

    .aboutUs {
        flex-direction: column;
        row-gap: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .offer__text {
        max-width: 100%;
    }

    .offer__fotos {
        display: none;
    }

    .offer_flex {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}


@media screen and (max-width: 1100px) {
    
    .header__nav {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-width: 877px) {
    
    .footer__content {
        flex-wrap: wrap;
    }

    .company {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .footer__content__text1 {
        min-height: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 837px) {
    
    .direction {
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    
    .header__text {
        font-size: 40px;
    }
}

@media screen and (max-width: 638px) {
    
    .foto_report {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        justify-content: flex-start;
    }

    .center_align {
        align-items: flex-start;
    }
}

@media screen and (max-width: 618px) {
    
    .services {
        margin-bottom: 50px;
    }

    .dark {
        height: 84px;
    }

    .dark__text {
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
    }

    footer {
        padding-bottom: 164px;
    }
}

@media screen and (max-width: 561px) {
    
    .header__text {
        font-size: 28px;
        line-height: 150%;
        text-transform: none;
        min-height: 370px;
    }

    header {
        padding-top: 20px;
        padding-bottom: 50px;
        min-height: 600px;
    }

    .burger {
        width: 30px;
        height: 30px;
    }

    .header__select {
        display: none;
    }

    .btn_52_light__hidden {
        display: flex;
    }

    .header__main {
        min-height: 44px;
    }

    .header__logo {
        width: 84px;
        height: 44px;
        background: url(images/logo.png) center / cover no-repeat;
    }

    .title_yellow {
        font-size: 16px;
    }

    .title_main {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .video2 {
        display: none;
    }

    .video_mobile {
        width: 358px;
        height: 416px;
    }

    .aboutUs__video {
        width: 358px;
        height: 416px;
    }

    .video1 {
        top: 0;
    }

    .offer__advant {
        margin-bottom: 32px;
        align-items: flex-start;
    }

    .btn_52 {
        height: 44px;
        padding: 12px 24px;
        margin: 0 auto;
    }

    .center_align {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .popular_directions {
        margin-top: 0;
    }

    .post {
        flex-direction: column;
    }

    .post__foto {
        width: 100%;
    }

    .post__text {
        width: 100%;
    }

    .subscribe {
        padding: 24px;
        max-width: 100%;
        min-height: 351px;
        gap: 18px;
        position: static;
    }

    .subscribe__text__yellow {
        font-size: 16px;
    }

    .subscribe__text__main {
        font-size: 24px;
    }

    .subscribe__form {
        row-gap: 24px;
    }

    .subscribe_hidden {
        display: flex;
    }

    .subscribe_visible {
        display: none;
    }

    footer {
        margin-top: 50px;
        padding-top: 50px;
    }

}

@media screen and (max-width: 436px) {

    .direction {
        min-width: 285px;
        height: 400px;   
        width: 285px;   
    }

    .blur {
        height: 70px;
    }

    .rating {
        top: 36.8px
    }

    .blur__text__title {
        font-size: 18px;
    }

    .blur__text__discription {
        display: none;
    }

    .blur__price {
        font-size: 16px;
        width: 67px;
        height: 30px;
    }

    .blur__text__full {
        font-size: 12px;
        min-height: 180px;
    }

    .popular_directions {
        flex-wrap: nowrap;
        overflow-x : scroll;
    }

    .post {
        width: 285px;
        height: 496px;
        padding: 0;
    }

    .post__foto {
        width: 285px;
        height: 280px;
    }

    .post__text {
        width: 285px;
        height: 200px;
        padding: 16px;
    }

    .post__text__title {
        font-size: 20px;
        line-height: 26px;
    }

    .post__text__discription {
        height: 80px;
    }

    .blog__posts {
        flex-wrap: nowrap;
        column-gap: 24px;
        width: 100%;
        overflow-x : scroll;
    }

}
